html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

.bg-r {
  background-color: #AA0601;
}

.bg-w {
  background-color: #FBF2F2;
}

.col-w {
  color: #FBF2F2;
}

.col-r {
  color: #AA0601;
}

.col-gray {
  color: #707070;
}

.fz-14 {
  color: #FBF2F2;
  font-size: 14px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
  color: #AA0601;
}

.fz-36 {
  font-size: 36px;
}

.fz-48 {
  font-size: 48px;
}

.fz-64 {
  font-size: 64px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.p-80 {
  padding: 80px 0;
}

.tx-r {
  text-align: right;
}

.fw-b {
  font-weight: bold;
}

.bd-r {
  border-right: 1px solid #e9c8c8;
}

.d-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-s {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 12px;
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 841px;
    padding: 0 36px;
  }
  .container-s {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 36px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    max-width: 402px;
    padding: 0 13px;
  }
  .container-s {
    max-width: 402px;
    margin: 0 auto;
    padding: 0 13px;
  }
  .d-b {
    display: block;
  }
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-list li {
  padding-right: 24px;
}
.footer-list li a {
  color: #FBF2F2;
  font-size: 20px;
}
.footer-list li a:hover {
  opacity: 0.8;
}

.section-T {
  padding-top: 60px;
  margin-bottom: 36px;
}
.section-T .list li a {
  font-size: 16px;
}
.section-T .social-img {
  display: flex;
}
.section-T .social-img img {
  max-width: 48px;
  margin-left: 32px;
}
.section-T .social-img img:hover {
  opacity: 0.8;
}

.section-M .container {
  border-bottom: 1px solid #FBF2F2;
  padding-bottom: 30px;
}
.section-M .phone, .section-M .email {
  height: 54px;
  display: flex;
  align-items: center;
}
.section-M .material-symbols-outlined {
  color: #FBF2F2;
  font-size: 36px;
  margin-right: 22px;
}
.section-M a {
  font-size: 36px;
}

.section-B {
  padding-top: 30px;
  padding-bottom: 32px;
}
.section-B .terms li {
  padding-left: 48px;
}
.section-B .terms li a {
  font-size: 14px;
  color: #FBF2F2;
}

.sectionPhone {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-list li a {
    color: #FBF2F2;
    font-size: 16px;
  }
  .section-T {
    padding-top: 48px;
    margin-bottom: 36px;
  }
  .section-T .list li a {
    font-size: 16px;
  }
  .section-T .social-img img {
    max-width: 25px;
    height: auto;
    margin-left: 16px;
  }
  .section-M a {
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  .Footer {
    padding: 0 13px;
  }
  .section-T, .section-M {
    display: none;
  }
  .sectionPhone {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
  }
  .sectionPhone .container {
    border-bottom: solid 1px #FBF2F2;
    padding-bottom: 16px;
    max-width: 100%;
  }
  .sectionPhone .container .left {
    width: 50%;
  }
  .sectionPhone .material-symbols-outlined {
    color: #FBF2F2;
    width: 24px;
    margin-right: 11px;
  }
  .sectionPhone .phone, .sectionPhone .email {
    display: flex;
  }
  .sectionPhone .left {
    margin-left: -7px;
  }
  .sectionPhone .social-img {
    display: flex;
  }
  .sectionPhone .social-img li {
    width: 100%;
  }
  .sectionPhone .social-img li img {
    width: 24px;
    margin-left: 8px;
  }
  .section-B .logoText {
    margin-bottom: 8px;
  }
  .section-B .terms li {
    padding-left: 0;
    margin-bottom: 8px;
  }
  .section-B .terms li a {
    font-size: 16px;
  }
}
.banner {
  background-image: url(./../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 296px 0;
  width: 100%;
  height: auto;
}
.banner .text {
  max-width: 576px;
  margin-left: auto;
  text-align: right;
}
.banner .text h2 {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
.banner .text a {
  background: #AA0601;
  padding: 6px 12px;
  text-align: right;
  font-size: 20px;
}
.banner .text a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .banner {
    background-image: url(./../images/home-header-sm.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
  }
}
@media screen and (max-width: 376px) {
  .banner {
    background-position: left center;
  }
  .banner .text {
    max-width: 100%;
    text-align: right;
  }
  .banner .text h2 {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .banner .text .fz {
    font-size: 20px;
    font-weight: bold;
  }
  .banner .text .fz-16 {
    font-size: 16px;
  }
  .banner .text a {
    background: #AA0601;
    padding: 6px 12px;
    text-align: right;
    font-size: 20px;
  }
}
.major {
  text-align: center;
  font-weight: bold;
  padding: 80px 0;
}
.major .majorTitle {
  margin-bottom: 33px;
  font-size: 48px;
}
.major .majorService {
  display: flex;
  justify-content: space-between;
}
.major .majorService .box {
  width: 25%;
  padding: 12px;
}
.major .majorService .box img {
  width: max(25%, 83px);
  height: auto;
  margin-bottom: 24px;
}
.major .majorService .box h2 {
  font-weight: bold;
}
.major .majorService .box p {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .majorService {
    flex-wrap: wrap;
    padding: 0 36px;
  }
  .majorService .box {
    width: max(50%, 83px);
  }
}
@media screen and (max-width: 376px) {
  .major {
    padding: 40px 0;
  }
  .major .majorTitle {
    font-size: 24px;
    margin-bottom: 33px;
  }
  .major .majorService {
    display: block;
    padding: 13px;
  }
  .major .majorService .box {
    width: max(100%, 83px);
  }
}
.local {
  text-align: center;
  padding: 80px 0;
}
.local .localTitle {
  margin-bottom: 48px;
}
.local .localTitle h2 {
  font-weight: bold;
}
.local .localIntro {
  display: flex;
  max-width: 100%;
}
.local .localIntro .local-container {
  width: 100%;
  padding: 12px;
}
.local .localIntro .local-container img {
  width: 100%;
  margin-bottom: 8px;
}
.local .localIntro .local-container h3 {
  font-weight: bold;
  padding: 5px 10px;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .local .localIntro {
    display: inline-block;
  }
  .local .localIntro .local-container {
    width: 100%;
    padding: 24px;
  }
  .local .localIntro .local-container img {
    max-width: 336px;
  }
  .local .localIntro .local-container h3 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 376px) {
  .local {
    padding: 40px 0;
  }
  .local h2.fz-48 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -48px;
  }
  .local .localIntro {
    display: inline-block;
  }
  .local .localIntro .local-container {
    width: 100%;
    padding: 24px;
  }
  .local .localIntro .local-container img {
    max-width: 336px;
  }
  .local .localIntro .local-container h3 {
    font-style: italic;
    margin-bottom: -24px;
  }
}
.jointlyBgImg {
  background-image: url(./../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
}
.jointlyBgImg .jointly {
  text-align: center;
}
.jointlyBgImg .jointly h2 {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 48px;
}
.jointlyBgImg .jointlyContent {
  display: flex;
}
.jointlyBgImg .jointlyContent .jointly-container img {
  max-width: 100%;
  height: auto;
}
.jointlyBgImg .jointlyContent .jointly-container h3 {
  background-color: #fff;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .jointlyBgImg {
    background-image: url(./../images/index-bg-sm.png);
  }
  .jointlyBgImg .jointlyContent {
    display: block;
  }
  .jointlyBgImg .jointlyContent .jointly-container {
    margin-bottom: 24px;
  }
  .jointlyBgImg .jointlyContent .jointly-container img {
    max-width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .jointlyBgImg {
    background-image: url(./../images/index-bg-md.png);
    padding: 40px 0;
  }
  .jointlyBgImg .jointly {
    text-align: center;
  }
  .jointlyBgImg .jointly h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .jointlyBgImg .jointlyContent {
    display: block;
  }
  .jointlyBgImg .jointlyContent .jointly-container {
    margin-bottom: 24px;
  }
  .jointlyBgImg .jointlyContent .jointly-container img {
    max-width: 100%;
  }
}
.recommend {
  padding: 80px 0;
}
.recommend .recommendTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
.recommend .recommendContent {
  display: flex;
  padding: 0 -12px;
}
.recommend .recommendContent .recommend-container {
  padding: 0 12px;
  width: 25%;
}
.recommend .recommendContent .recommend-container img {
  width: 100%;
  height: auto;
}
.recommend .recommendContent .recommend-container .textCotainer {
  padding: 16px;
  border: solid 1px #DEE2E6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 4px;
}

@media screen and (max-width: 769px) {
  .recommend .recommendContent {
    display: flex;
    flex-wrap: wrap;
  }
  .recommend .recommendContent .recommend-container {
    width: 50%;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 376px) {
  .recommend {
    padding: 40px 0;
  }
  .recommend .recommendTitle {
    margin-bottom: 24px;
  }
  .recommend .recommendTitle h2 {
    font-size: 24px;
  }
  .recommend .recommendContent {
    display: flex;
    flex-wrap: wrap;
  }
  .recommend .recommendContent .recommend-container {
    width: 100%;
    margin-bottom: 12px;
  }
}
.contact {
  padding: 80px 0;
}
.contact .contactTitle h2 {
  text-align: center;
  font-weight: bold;
}
.contact .contactForm {
  max-width: 636px;
  margin-bottom: 16px;
}
.contact .contactForm .text {
  width: 100%;
  height: 136px;
}
.contact .contactForm input {
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
}
.contact .agree {
  display: flex;
  align-items: center;
}
.contact .agree input {
  width: 24px;
}
.contact .send {
  text-align: center;
  margin: 0 auto;
  max-width: 354px;
}
.contact .send button {
  background-color: #AA0601;
  padding: 16px 0;
  width: 100%;
  color: #ffffff;
  height: auto;
  cursor: pointer;
}
.contact .send button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .contact .contactForm input {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
  }
  .contact .contactForm .agree {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  .contact .contactForm .agree input {
    width: 24px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 376px) {
  .contact .contactTitle h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.question {
  padding-top: 96px;
  padding-bottom: 80px;
}
.question h2 {
  padding-left: 16px;
  border-left: solid 8px #AA0601;
  margin-bottom: 32px;
}
.question h3 {
  font-size: 24px;
  font-weight: bold;
}
.question .box {
  margin-bottom: 32px;
  max-width: 856px;
}
.question .box h3 {
  margin-bottom: 8px;
}

@media screen and (max-width: 376px) {
  .question h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .question .fw-b2 {
    font-weight: bold;
  }
}
.logo img {
  max-width: 80px;
  height: auto;
  padding: 12px 0;
}

.list {
  display: flex;
}
.list li {
  padding-left: 64px;
}
.list li a {
  color: #FBF2F2;
  font-size: 20px;
}
.list li a:hover {
  opacity: 0.8;
}

.listPhone {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo img {
    padding: 16px 0;
  }
  .list li {
    padding-left: 40px;
  }
}
@media screen and (max-width: 376px) {
  .list {
    display: none;
  }
  .listPhone {
    display: flex;
    flex-wrap: wrap;
  }
  .listPhone li {
    width: 50%;
    border: solid 1px #ffffff;
    text-align: center;
  }
  .listPhone li a {
    display: block;
    padding: 0 40px;
    color: #ffffff;
  }
}/*# sourceMappingURL=all.css.map */