<header class="bg-r Header">
    <div class="container d-f d-b">
        <div class="logo"><a href="index.html">
            <img src="../assets/images/logo-white.png" alt="LOGO"></a>
        </div>
        <ul class="list">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="question.html">常見問題</a></li>
        </ul>
    </div>
    <ul class="listPhone">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="question.html">常見問題</a></li>
    </ul>
</header>