*,*::after,*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
