.logo{
  img{
      max-width: 80px;
      height: auto;
      padding: 12px 0;
  }
}
.list{
  display: flex;
  li{
      padding-left: 64px;
      a{
          color: $color_w;
          font-size: 20px;
          &:hover{
          opacity: .8;
          }
      }
      
  }
}
.listPhone{
  display: none;
}
  
@include ipad{

  .logo{
      img{
          padding: 16px 0;
      }
  }
  .list{
      li{
          padding-left: 40px;
      }
  }
 
}

@include mobile{
  .list{
      display: none;
  }
  .listPhone{
      display: flex;
      flex-wrap: wrap;
      li{
          width: 50%;
          border:solid 1px #ffffff;
          text-align: center;
          a{ 
            display: block;
            padding: 0 40px;
            color:#ffffff;
              
          }
      }
     
  }
}