<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
   
    <link rel="stylesheet" href="../css/all.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
          <div class="text">
              <h2 class="fz-36 mb-10 col-r tx-r fz-16">Promise-Desert 2020 早春系列</h2>
              <h2 class="fz-64 mb-10 col-r fw-b fz">看得清，才能看得遠</h2>
                  <a class="col-w "href="#">立即購買</a>
          </div>
      </div>
  </div>

  <div class="bg-w">
      <div class="container p-80 p-40">
          <div class="major">
              <div class="majorTitle">
                  <h2 class=" col-r">用專業的心，做專業的事</h2>
              </div>
              <div class="majorService">
                  <div class="box">
                      <img src="img/dollar.png" alt="dollar">
                      <h2 class="fz-24 mb-8 ">單一價格</h2>
                      <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                  </div>
                  <div class="box">
                      <img src="img/time.png" alt="time">
                      <h2 class="fz-24 mb-8 ">20 分鐘即可取件</h2>
                      <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快20 分鐘即可完成。</p>
                  </div>
                  <div class="box">
                      <img src="img/heart.png" alt="heart">
                      <h2 class="fz-24 mb-8 ">安心售後服務</h2>
                      <p>我們提供長達120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                  </div>
                  <div class="box">
                      <img src="img/glasses.png" alt="glasses">
                      <h2 class="fz-24 mb-8 ">關於鏡片</h2>
                      <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container p-80">
      <div class="local">
          <div class="localTitle">
              <h2 class="col-r fz-48 ">經典系列鏡框</h2>
          </div>

          <ul class="localIntro">
              <li class="local-container">
                  <img src="img/home-section3-1.png" alt="woman">
                  <h3 class="col-r ">OPTICAL</h3>
              </li>
              <li class="local-container">
                  <img src="img/home-section3-2.png" alt="woman2">
                  <h3 class="col-r ">SUNGLASSES</h3>
              </li>
              <li class="local-container">
                  <img src="img/home-section3-3.png" alt="elder">
                  <h3 class="col-r ">FUNCTIONAL</h3>
              </li>
          </ul>
      </div>
  </div>

  <div class="jointlyBgImg">
      <div class="container">
          <div class="jointly">
              <div class="jointlyTitle">
                  <h2 class="fz-48">聯名設計鏡框</h2>
              </div>
              <div class="jointlyContent">
                  <div class="jointly-container">
                      <img src="img/home-section4-1.png" alt="glasses">
                      <h3 class="col-r fz-48 bd-r">DOUBLE A+</h3>
                  </div>
                  <div class="jointly-container">
                      <img src="img/home-section4-2.png" alt="glasses">
                      <h3 class="col-r fz-48">YOUTH</h3>
                  </div>
              </div>
              
          </div>
      </div>
  </div>


  <div class="container">
      <div class="recommend">
          <div class="recommendTitle">
              <h2 class="col-r fz-48">顧客推薦</h2>
          </div>
          <div class="recommendContent">
              <div class="recommend-container">
                  <img src="img/home-section5-1.png" alt="recommendImg">
                  <div class="textCotainer">
                      <p class="mb-8">Jessy</p>
                      <p class="mb-72">眼鏡品質優良，下次還會想來這邊購買！</p>
                      <p class="col-gray">2021/06/20</p>
                  </div>
              </div>
              <div class="recommend-container">
                  <img src="img/home-section5-2.png" alt="recommendImg">
                  <div class="textCotainer">
                      <p class="mb-8">凱倫</p>
                      <p class="mb-72">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                      <p class="mb-0  col-gray">2021/04/18</p>
                  </div>
              </div>
              <div class="recommend-container">
                  <img src="img/home-section5-3.png" alt="recommendImg">
                  <div class="textCotainer">
                      <p class="mb-8">悠悠</p>
                      <p class="mb-72">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                      <p class="col-gray">2020/12/25</p>
                  </div>
              </div>
              <div class="recommend-container">
                  <img src="img/home-section5-4.png" alt="recommendImg">
                  <div class="textCotainer">
                      <p class="mb-8">Kyuan</p>
                      <p class="mb-72">服務很好，品質沒有任何問題，非常喜歡。</p>
                      <p class="col-gray">2020/10/31</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="bg-w">
      <div class="container-s">
          <div class="contact">
              <div class="contactTitle">
                  <h2 class="col-r fz-48 mb-48">聯絡我們</h2>
                  <p class="mb-24 fz-20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              </div>
              <form class="contactForm">
                  <label class="mb-8" for="cname">姓名</label>
                  <input type="text" id="cname" placeholder="陳小明">
                  <label class="mb-8" for="phone">連絡電話</label>
                  <input type="tel" id="phone" placeholder="0912-345-678">
                  <label class="mb-8" for="cemail">電子郵件</label>
                  <input type="email"id="cemail"  placeholder="example@email.com">
                  <label class="mb-8" for="request">意見反應</label>
                  <textarea class="text" id="request" placeholder="請輸入您的意見"></textarea>
              </form>
              <form class="agree mb-48">
                  <input type="checkbox" for="check" col="100" row="100">
                  <label id="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </form>

              <div class="send"><button >確認送出</button></div>
          </div>
      </div>
  </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
